# secrets & env
.env
*.env

# certs / keys
certs/
*.crt
*.key
*.pem
*.p12
*.jks

# postgres data
postgres/pgdata/

# python / misc
.venv
__pycache__/
*.pyc
*.log
.vscode/
.idea/
.DS_Store
# npm artifacts
frontend/app/app@0.0.0/
frontend/app/eslint/
#Dont ignore 
!src/types/
